# OS / editor
.DS_Store
.vscode/
.idea/
.bash_history
.bash_sessions/
.nvm/
.npm/
.cache/

# Node/Vue
frontend/node_modules/
frontend/dist/

# C# build outputs
FinanceApi.exe
FinanceApp.exe

# Databases and logs
finance.db
logfile
